[mysql]
default-character-set = utf8mb4
local_infile=1

[mysqld]
# システム変数（このセクションにしか書けない）
character-set-server = utf8mb4
collation-server = utf8mb4_ja_0900_as_cs

log_error_verbosity = 3

gtid_mode = ON
enforce_gtid_consistency = ON

local_infile=1

# 起動オプション

[client]
default-character-set = utf8mb4
